.content {
    overflow: hidden; /* Pour contenir les éléments flottants */
    margin-bottom: 40px;
    margin-top: 70px;
}

@media (max-width: 768px) {
    .image-left, .image-right {
        float: none;
        display: block;
        margin: 0 auto 20px;
        width: 50%;
    }

    .text-right, .text-left {
        text-align: center;
    }
}